.details-page {
  width: 100%;

  min-height: calc(100vh - 70px);

  padding-top: 70px;
  padding-left: 0;
  padding-bottom: 0;

  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 0;

  margin: 0;
}

/* IMAGE */

.detail-image {
  width: 100%;
  height: calc(100vh - 70px);
  margin: 0;
  padding: 0;
}

.detail-image img {
  width: 100%;
  height: 100%;

  object-fit: cover;

  display: block;
}

/* INFO */

.detail-info {
  padding: 60px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.detail-info h2 {
  font-size: 2.5rem;

  margin-bottom: 20px;

  text-align: left;
}

.detail-info p {
  margin-bottom: 20px;

  line-height: 1.7;
}

.detail-info ul {
  margin-left: 20px;
  margin-bottom: 30px;
}

.detail-info li {
  margin-bottom: 10px;
}

/* BUTTON */

.cart-action-btn {
  width: fit-content;

  padding: 14px 24px;

  border: none;
  border-radius: 10px;

  background: #2563eb;
  color: white;

  font-size: 1rem;

  cursor: pointer;

  transition: 0.3s;
}

.cart-action-btn:hover {
  background: #1d4ed8;
}

/* RESPONSIVE */

@media(max-width: 900px) {

  .details-page {
    grid-template-columns: 1fr;
  }

  .detail-image {
    height: 400px;
  }

  .detail-info {
    padding: 40px 25px;
  }
}

.detail-quantity-controls {

  display: flex;
  align-items: center;
  gap: 15px;

  margin-top: 20px;
}

.qty-btn {

  width: 45px;
  height: 45px;

  border: none;
  border-radius: 8px;

  background: #261406;
  color: white;

  font-size: 1.2rem;
  cursor: pointer;
}

.qty-value {

  min-width: 30px;

  text-align: center;

  font-size: 1.2rem;
  font-weight: bold;
}